Repository JaneJeon/dev: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

feat(got): new package yay
  package-lock.json
  package.json
  packages/got/.eslintrc.yml
  packages/got/package.json
  packages/got/src/index.ts
  packages/got/tsconfig.build.json
  packages/got/tsconfig.json
  packages/got/vite.config.ts
Due: prettier --write, eslint --fix

chore: bump package versions [skip ci]
  package-lock.json
  packages/got/CHANGELOG.md
  packages/got/package.json
Due: prettier --write

chore: bump package versions [skip ci]
  package-lock.json
  packages/eslint-config/CHANGELOG.md
  packages/eslint-config/package.json
Due: prettier --write

ci: fix npm auth
  .github/workflows/ci.yml
Due: prettier --write

feat(got): add optional download/upload size limit to the got instance
  package-lock.json
  packages/got/package.json
  packages/got/src/index.ts
  packages/got/src/middlewares/size-limit.ts
  packages/got/test/size-limit.test.ts
  packages/got/test/testServer.ts
  packages/got/tsconfig.build.json
  packages/got/tsconfig.json
Due: prettier --write, eslint --fix

chore: run tests in CI mode
  .husky/pre-push
Due: none

ci: run typechecks in CI
  .github/workflows/ci.yml
  package.json
Due: prettier --write

chore: remove references to circleci
  README.md
Due: prettier --write

chore: move to lts
  .nvmrc
Due: none

chore: bump lerna to v8
  package-lock.json
  package.json
Due: prettier --write

chore: bump package versions [skip ci]
  package-lock.json
  packages/eslint-config-typescript/CHANGELOG.md
  packages/eslint-config-typescript/package.json
  packages/got/CHANGELOG.md
  packages/got/package.json
Due: prettier --write

Add 14-day dependency cooldown to Renovate config
  packages/renovate-config/default.json
Due: prettier --write

Add 14-day dependency cooldown to Renovate config (#90)
  packages/renovate-config/default.json
Due: prettier --write

Path conditions:
  prettier --write: any of: *.{yml,yaml,js,json,ts,md}
  eslint --fix: any of: *.{js,ts}
